{
    "extends": [
        "react-app",
        "prettier"
    ],
    "rules": {
        "jsx-quotes": [
            2,
            "prefer-single"
        ]
    },
    "plugins": [
        "prettier"
    ]
}